/* 公共样式1 */

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.wrap {
    margin: 16px auto;
    width: 500px;
    height: auto;
    border: 1px solid #ccc;
}

.code-wrap {
    width: 80%;
    margin: 16px auto;
    padding: 15px 30px;
    background-color: #110011;
    color: #FFF;
}